[Desktop Entry]
Name=Search
Name[ar]=ابحث
Name[bs]=Pretrazivanje
Name[ca]=Cerca
Name[ca@valencia]=Busca
Name[cs]=Hledat
Name[da]=Søg
Name[de]=Suche
Name[el]=Αναζήτηση
Name[en_GB]=Search
Name[es]=Buscar
Name[et]=Otsing
Name[eu]=Bilatu
Name[fi]=Haku
Name[fr]=Recherche
Name[gl]=Buscar
Name[hi]=खोजें
Name[hu]=Keresés
Name[ia]=Cerca
Name[id]=Search
Name[it]=Ricerca
Name[ka]=ძებნა
Name[ko]=찾기
Name[lt]=Paieška
Name[nb]=Søk
Name[nds]=Söken
Name[nl]=Zoeken
Name[nn]=Søk
Name[pa]=ਖੋਜ
Name[pl]=Znajdź
Name[pt]=Pesquisa
Name[pt_BR]=Procurar
Name[ro]=Căutare
Name[ru]=Поиск
Name[sk]=Hľadať
Name[sl]=Poišči
Name[sr]=Претрага
Name[sr@ijekavian]=Претрага
Name[sr@ijekavianlatin]=Pretraga
Name[sr@latin]=Pretraga
Name[sv]=Sök
Name[tr]=Ara
Name[uk]=Пошук
Name[x-test]=xxSearchxx
Name[zh_CN]=查找
Name[zh_TW]=搜尋
Comment=Search and Launch
Comment[ar]=ابحث وشغل
Comment[bs]=Traženje i pokretanje
Comment[ca]=Cerca i llança
Comment[ca@valencia]=Busca i inicia
Comment[cs]=Hledat a spustit
Comment[da]=Søg og start
Comment[de]=Suchen und ausführen
Comment[el]=Αναζήτηση και εκτέλεση
Comment[en_GB]=Search and Launch
Comment[es]=Buscar y lanzar
Comment[et]=Otsimine ja käivitamine
Comment[eu]=Bilatu eta abiarazi
Comment[fi]=Haku ja käynnistys
Comment[fr]=Rechercher et lancer
Comment[gl]=Buscar e iniciar
Comment[hi]=खोजें एवं प्रारम्भ करें
Comment[hu]=Keresés és indítás
Comment[ia]=Cerca  e lancea 
Comment[id]=Cari dan Luncurkan
Comment[it]=Cerca e avvia
Comment[ka]=მოძებნა და გაშვება
Comment[ko]=찾아서 실행하기
Comment[lt]=Rasti ir paleisti
Comment[nb]=Søk og start
Comment[nds]=Söken un opropen
Comment[nl]=Zoeken en starten
Comment[nn]=Søk og køyr
Comment[pa]=ਖੋਜੋ ਅਤੇ ਚਲਾਓ
Comment[pl]=Znajdź i uruchom
Comment[pt]=Pesquisar e Lançar
Comment[pt_BR]=Pesquisa e executa
Comment[ro]=Căutare și lansare
Comment[ru]=Поиск и запуск
Comment[sk]=Hľadať a spustiť
Comment[sl]=Poišči in zaženi
Comment[sr]=Претрага и покретање
Comment[sr@ijekavian]=Претрага и покретање
Comment[sr@ijekavianlatin]=Pretraga i pokretanje
Comment[sr@latin]=Pretraga i pokretanje
Comment[sv]=Sök och starta
Comment[tr]=Ara ve Çalıştır
Comment[uk]=Пошук і запуск
Comment[x-test]=xxSearch and Launchxx
Comment[zh_CN]=搜索和启动
Comment[zh_TW]=搜尋並啟動
Icon=system-search

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-DropUrlPatterns=run:/

X-KDE-PluginInfo-Name=org.kde.milou
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Author=Vishesh Handa
X-KDE-PluginInfo-Email=me@vhanda.in
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org
X-KDE-PluginInfo-License=LGPL 2.1+

X-KDE-PluginInfo-EnabledByDefault=true
