[Desktop Entry]
Name=Bluetooth
Name[ar]=بلوتوث
Name[ast]=Bluetooth
Name[az]=Bluetooth
Name[bs]=Blutut
Name[ca]=Bluetooth
Name[ca@valencia]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[eu]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[gl]=Bluetooth
Name[he]=בלוטוס
Name[hsb]=Bluetooth
Name[hu]=Bluetooth
Name[ia]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[ko]=블루투스
Name[lt]=Bluetooth
Name[nb]=Bluetooth
Name[nl]=Bluetooth
Name[nn]=Bluetooth
Name[pa]=ਬਲੂਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@ijekavian]=Блутут
Name[sr@ijekavianlatin]=Bluetooth
Name[sr@latin]=Bluetooth
Name[sv]=Blåtand
Name[tg]=Bluetooth
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[x-test]=xxBluetoothxx
Name[zh_CN]=蓝牙
Name[zh_TW]=藍牙

Comment=Bluetooth status and control
Comment[ar]=حالة بلوتوث والتّحكّم بها
Comment[az]=Bluetooth vəziyyəti və idarə edilməsi
Comment[ca]=Estat i control del Bluetooth
Comment[ca@valencia]=Estat i control de Bluetooth
Comment[cs]=Stav a ovládání Bluetooth
Comment[da]=Bluetooth-status og -kontrol
Comment[de]=Bluetooth-Status und -steuerung
Comment[el]=Κατάσταση και έλεγχος Bluetooth
Comment[en_GB]=Bluetooth status and control
Comment[es]=Estado y control de Bluetooth
Comment[et]=Bluetoothi olek ja juhtimine
Comment[eu]=Bluetooth egoera eta kontrola
Comment[fi]=Bluetoothin tila ja hallinta
Comment[fr]=État et contrôle du Bluetooth
Comment[gl]=Control e estado de Bluetooth
Comment[he]=שליטה ומצב הבלוטוס
Comment[hsb]=Bluetooth status a rjadowanje
Comment[hu]=Bluetooth állapot és vezérlés
Comment[ia]=Stato e controlo de Bluetooth
Comment[id]=Status dan kendali bluetooth
Comment[it]=Stato e controllo del Bluetooth
Comment[ja]=Bluetooth の状態と制御
Comment[ko]=블루투스 상태와 제어
Comment[lt]=Bluetooth būsena ir valdymas
Comment[ml]=ബ്ലൂടൂത്ത് സ്റ്റാറ്റസും നിയന്ത്രണവും
Comment[nb]=Bluetoothstatus og styring
Comment[nl]=Status en besturing van bluetooth
Comment[nn]=Status og styring for Bluetooth
Comment[pa]=ਬਲੂਟੁੱਥ ਹਾਲਤ ਅਤੇ ਕੰਟਰੋਲ
Comment[pl]=Stan i obsługa Bluetooth
Comment[pt]=Estado e controlo do Bluetooth
Comment[pt_BR]=Status e controle do Bluetooth
Comment[ro]=Starea și controlul Bluetooth
Comment[ru]=Состояние и управление Bluetooth
Comment[sk]=Stav a ovládanie Bluetooth
Comment[sl]=Stanje Bluetootha in nadzor
Comment[sr]=Стање и управљање блутутом
Comment[sr@ijekavian]=Стање и управљање блутутом
Comment[sr@ijekavianlatin]=Stanje i upravljanje Bluetoothom
Comment[sr@latin]=Stanje i upravljanje Bluetoothom
Comment[sv]=Bllåtandstatus och kontroll
Comment[tg]=Вазъият ва идоракунии Bluetooth
Comment[tr]=Bluetooth denetim ve durum izleme
Comment[uk]=Стан Bluetooth і керування ним
Comment[x-test]=xxBluetooth status and controlxx
Comment[zh_CN]=蓝牙状态和控制
Comment[zh_TW]=藍牙狀態與控制

Icon=preferences-system-bluetooth
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-Plasma-DBusActivationService=org.bluez

X-KDE-PluginInfo-Name=org.kde.plasma.bluetooth
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-Version=3.0.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-License=GPL V2+
X-KDE-PluginInfo-EnabledByDefault=true
